<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- GOOGLE FONTS -->
    <link
      href="https://fonts.googleapis.com/css?family=Cutive+Mono|Major+Mono+Display|Permanent+Marker|Satisfy|Source+Code+Pro&display=swap"
      rel="stylesheet"
    />
    <!-- CSS File -->
    <link rel="stylesheet" href="/css/home.css" />
    <!-- JS File -->
    <script src="/scripts/app.js" defer></script>
    <!-- BOOTSTRAP -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <title>ARC Home</title>
  </head>
  <body>
    <header>
      <div class="bg-dark collapse" id="navbarHeader" style="">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">About</h4>
              <p class="text-muted">
                The whole concept of this app it to ingeniously link people that
                need to rent a vehicle prefereably(convertible) cruising
                vehicles, but we also cater to the ones that need fuel
                consumption, minivan, trucks. We cater to everyone, no need for
                any type of discrimination as long as we get paid. No need to
                signup or login. Just book the vehicle you want and pay up
                front. We will handle the rest. User friendly and simple logic
                of 1 day rent vehicle of 24hr's.
              </p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Partners</h4>
              <ul class="list-unstyled">
                <li>
                  <a
                    target="_blank"
                    href="https://www.bmw.com/en/index.html"
                    class="text-white"
                    >BMW</a
                  >
                </li>
                <li>
                  <a
                    target="_blank"
                    href="https://www.dodge.com/"
                    class="text-white"
                    >Dodge</a
                  >
                </li>
                <li>
                  <a
                    target="_blank"
                    href="https://www.ford.com/cars/mustang/"
                    class="text-white"
                    >Ford Mustang</a
                  >
                </li>
                <li>
                  <a
                    target="_blank"
                    href="https://www.porsche.com/usa/"
                    class="text-white"
                    >Porsche</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="container-one navbar-dark">
        <a
          href="http://localhost:4000"
          class="navbar-brand d-flex align-items-center"
          ><strong class="arc">ARC</strong></a
        >
        <div class="container-two">
          <a
            class="navbar-item  d-flex align-items-center"
            href="http://localhost:4000/gallery"
            >Gallery</a
          >
          <a
            class="navbar-item  d-flex align-items-center"
            href="http://localhost:4000/dashboard"
            >Admin</a
          >
        </div>
        <button
          class="navbar-toggler collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#navbarHeader"
          aria-controls="navbarHeader"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </header>
    <main>
      <div class="first-section position-relative overflow-hidden text-center">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
          <h1 class="display-4 font-weight-normal">
            ARC, the best. Ever.
          </h1>
          <p class="slogan lead font-weight-normal">
            You are renting with us again
          </p>
          <a class="btn btn-secondary" href="http://localhost:4000/gallery"
            >Go to gallery</a
          >
        </div>
      </div>
      <!-- <hr class="featurette-divider" /> -->
      <div class="featurette">
        <div class="col-md-7">
          <div class="featurette-heading">
            <h1 class="porsche">Porsche</h1>
            <h2><span class="car-slogan">Power, beauty and soul</span></h2>
          </div>
          <p class="lead">
            Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id
            ligula porta felis euismod semper. Praesent commodo cursus magna,
            vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
            commodo.
          </p>
        </div>
        <div class="col-md-5">
          <a href="http://localhost:4000/gallery">
            <img
              class="car-image"
              src="https://files.porsche.com/filestore/image/multimedia/none/rd-2019-homepage-banner-pcna-taycan4s-kw43/normal/dad26524-ef47-11e9-80c6-005056bbdc38;sN;twebp;c1692;gc/porsche-normal.webp"
              alt="Porsche"
            />
          </a>
        </div>
      </div>
      <div class="featurette">
        <div class="col-md-7 order-md-2">
          <div class="featurette-heading">
            <h1 class="mustang">Mustang</h1>
            <h2><span class="car-slogan">Courage changes everything</span></h2>
          </div>
          <p class="lead">
            Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id
            ligula porta felis euismod semper. Praesent commodo cursus magna,
            vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
            commodo.
          </p>
        </div>
        <div class="col-md-5 ">
          <a href="http://localhost:4000/gallery">
            <img
              class="car-image"
              src="https://i.pinimg.com/originals/ce/ba/90/ceba902606e7664b42493ffb64e83c05.png"
              alt="Mustang"
            />
          </a>
        </div>
      </div>
      <div class="featurette">
        <div class="col-md-7">
          <div class="featurette-heading">
            <h1 class="bmw">BMW</h1>
            <h2>
              <span class="car-slogan">Sheer Driving Pleasure</span>
            </h2>
          </div>
          <p class="lead">
            Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id
            ligula porta felis euismod semper. Praesent commodo cursus magna,
            vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
            commodo.
          </p>
        </div>
        <div class="col-md-5">
          <a href="http://localhost:4000/gallery">
            <img
              class="car-image"
              src="https://www.bmw.com/content/dam/bmw/marketBMWCOM/bmw_com/categories/all-models/2-series/gran-coupe/10_2019/bmw-f44-03-media-01-hd-d.jpg?imwidth=1920"
              alt="BMW"
            />
          </a>
        </div>
      </div>
      <div class="featurette">
        <div class="col-md-7 order-md-2">
          <div class="featurette-heading">
            <h1 class="dodge">Dodge</h1>
            <h2><span class="car-slogan">Grab Life By The Horns</span></h2>
          </div>
          <p class="lead">
            Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id
            ligula porta felis euismod semper. Praesent commodo cursus magna,
            vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
            commodo.
          </p>
        </div>
        <div class="col-md-5">
          <a href="http://localhost:4000/gallery">
            <img
              class="car-image"
              src="https://www.dodge.com/content/dam/fca-brands/na/dodge/en_us/2019/challenger/gallery/exterior/2019-challenger-gallery-srt-hellcat-1.jpg.image.2880.jpg"
              alt="Dodge"
            />
          </a>
        </div>
      </div>
      <!-- <div>
        <img
          src="https://i.pinimg.com/originals/ce/ba/90/ceba902606e7664b42493ffb64e83c05.png"
          class="rounded float-left"
          alt="..."
        />
        <img
          src="https://i.pinimg.com/originals/ce/ba/90/ceba902606e7664b42493ffb64e83c05.png"
          class="rounded float-right"
          alt="..."
        />
      </div> -->

      <!-- <hr class="featurette-divider" /> -->
    </main>

    <footer class="container py-5">
      <div class="row">
        <div class="col-12 col-md">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="d-block mb-2"
            role="img"
            viewBox="0 0 24 24"
            focusable="false"
          >
            <title>Product</title>
            <circle cx="12" cy="12" r="10"></circle>
            <path
              d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"
            ></path>
          </svg>
          <small class="d-block mb-3 text-muted">© 2017-2019</small>
        </div>
        <div class="col-6 col-md">
          <h5>Features</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Cool stuff</a></li>
            <li><a class="text-muted" href="#">Random feature</a></li>
            <li><a class="text-muted" href="#">Team feature</a></li>
            <li><a class="text-muted" href="#">Stuff for developers</a></li>
            <li><a class="text-muted" href="#">Another one</a></li>
            <li><a class="text-muted" href="#">Last time</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Resource</a></li>
            <li><a class="text-muted" href="#">Resource name</a></li>
            <li><a class="text-muted" href="#">Another resource</a></li>
            <li><a class="text-muted" href="#">Final resource</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Business</a></li>
            <li><a class="text-muted" href="#">Education</a></li>
            <li><a class="text-muted" href="#">Government</a></li>
            <li><a class="text-muted" href="#">Gaming</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Team</a></li>
            <li><a class="text-muted" href="#">Locations</a></li>
            <li><a class="text-muted" href="#">Privacy</a></li>
            <li><a class="text-muted" href="#">Terms</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
