<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- GOOGLE FONTS -->
    <link
      href="https://fonts.googleapis.com/css?family=Cutive+Mono|Major+Mono+Display|Permanent+Marker|Satisfy|Source+Code+Pro&display=swap"
      rel="stylesheet"
    />
    <!-- CSS File -->
    <link rel="stylesheet" href="/css/success.css" />
    <!-- JS File -->
    <script src="/scripts/success.js" defer></script>
    <!-- BOOTSTRAP -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <title>Success</title>
  </head>
  <body>
    <header>
      <div class="bg-dark collapse" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">About</h4>
              <p class="text-muted">
                The whole concept of this app it to ingeniously link people that
                need to rent a vehicle prefereably(convertible) cruising
                vehicles, but we also cater to the ones that need fuel
                consumption, minivan, trucks. We cater to everyone, no need for
                any type of discrimination as long as we get paid. No need to
                signup or login. Just book the vehicle you want and pay up
                front. We will handle the rest. User friendly and simple logic
                of 1 day rent vehicle of 24hr's.
              </p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Partners</h4>
              <ul class="list-unstyled">
                <li>
                  <a
                    target="_blank"
                    href="https://www.bmw.com/en/index.html"
                    class="text-white"
                    >BMW</a
                  >
                </li>
                <li>
                  <a
                    target="_blank"
                    href="https://www.dodge.com/"
                    class="text-white"
                    >Dodge</a
                  >
                </li>
                <li>
                  <a
                    target="_blank"
                    href="https://www.ford.com/cars/mustang/"
                    class="text-white"
                    >Ford Mustang</a
                  >
                </li>
                <li>
                  <a
                    target="_blank"
                    href="https://www.porsche.com/usa/"
                    class="text-white"
                    >Porsche</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="container-one navbar-dark">
        <a
          href="http://localhost:4000"
          class="navbar-brand d-flex align-items-center"
          ><strong class="arc">ARC</strong></a
        >
        <div class="container-two">
          <a
            class="navbar-item  d-flex align-items-center"
            href="http://localhost:4000/gallery"
            >Gallery</a
          >
          <a
            class="navbar-item  d-flex align-items-center"
            href="http://localhost:4000/dashboard"
            >Admin</a
          >
        </div>
        <button
          class="navbar-toggler collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#navbarHeader"
          aria-controls="navbarHeader"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </header>
    <main>
      <div
        class="col-md-5 p-lg-5 mx-auto my-5 alert alert-success"
        role="alert"
      >
        <h4 class="alert-heading">Well done!</h4>
        <p>
          Aww yeah, you successfully rented your car with
          <span class="arc-checkout">ARC</span>. Congrats!
        </p>
        <hr />
        <p class="mb-0">
          Whenever you need to, be sure to reach out to us!
        </p>
      </div>
      <div class="col-md-5 mx-auto" role="alert">
        <button type="button" id="goToHome" class="btn btn-outline-info">
          Home
        </button>
        <button type="button" id="goToGallery" class="btn btn-outline-info">
          Gallery
        </button>
      </div>
    </main>

    <footer class="text-muted text-center">
      <p class="mb-1">© 2019 <span class="arc-footer">ARC</span></p>
      <span class="icon"><i class="fab fa-facebook-square"></i></span>
      <span class="icon"><i class="fab fa-twitter-square"></i></span>
      <span class="icon"><i class="fab fa-instagram"></i></span>

      <!-- <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Privacy</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Support</a></li>
      </ul> -->
    </footer>
  </body>
</html>
