
.arc {
    font-family: "Major Mono Display", monospace;
    font-size: 40px;
    margin-left: 50px;
  }
  
  .arc-checkout {
    font-family: "Major Mono Display", monospace;
    font-size: 40px;
  }
  